# Neon (Origem)
NEON_HOST=ep-lucky-grass-ac8uxskn-pooler.sa-east-1.aws.neon.tech
NEON_DATABASE=neondb
NEON_USER=neondb_owner
NEON_PASSWORD=npg_9kXlTHrn7Lqx

# Supabase (Destino)
SUPABASE_URL=https://ktepwuwnrpwydxhhbump.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0ZXB3dXducnB3eWR4aGhidW1wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTMwOTAyNCwiZXhwIjoyMDgwODg1MDI0fQ.-mRLWOAI2ITjwTcN6kzTKn0fqBrEz-HPhg2vxiMY94w
